[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "slang"]
	path = slang
	url = https://github.com/shader-slang/slang.git
[submodule "docs/godot-docs"]
	path = docs/godot-docs
	url = https://github.com/godotengine/godot-docs.git
